* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#form {
  margin: 0 0 2em 2em;
  font-family: 'Stylish', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#player {
  margin-bottom: 1em;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: 'Stylish', sans-serif;
}

.cards {
  border-style: solid;
  border-color: #197278;
  /* position: relative;
  width: 22%;
  height: 10em;
  margin: 1em; */
  width: 10em;
  height: 14em;
  margin: 1em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;

  /* padding: 100px 50px;
  bottom: 2em; */
}

html,
body {
  margin-top: 2em;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}


#tile-container {

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 10px;

}


#clock {
  position: absolute;
  right: 5%;
  /* font-size: 20px; */
}

.pic-front,
.pic-back {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.messages {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Stylish', sans-serif;
  align-items: center;
  justify-content: center;

}

.messages span {
  margin: 1em;
  padding: 1em;
  text-align: left;
  border-style: groove;
  border-color: #197278;
}

.messages span, .messages span div, .messages span h4 {
  background-color: #bf7336;

}

.start {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-left: 2em;
}

.creation-team {
  bottom: 1em;
  margin-left: 1.5em;
}

/* .pic-front {
  transform: rotateY(180deg);
} */
