* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#form {
  margin: 0 0 2em 2em;
  font-family: 'Stylish', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#player {
  margin-bottom: 1em;
  border-radius: 2em;
  border-color: #2C75FF;
  background: transparent none;
  box-shadow: .1em .1em #fff;
  padding-left: 1.5em;
  color: #fff;
  font-family: 'Stylish', sans-serif;
  text-shadow: .1em .1em #2C75FF;
  height: 2.5em;
  width: 15em;
  font-size: 100%;
}

#player:focus {
  outline: transparent;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: 'Stylish', sans-serif;
  text-shadow: .1em .1em #2C75FF;
  color: #fff;
}

.cards {
  border-style: solid;
  border-color: #197278;
  /* position: relative;
  width: 22%;
  height: 10em;
  margin: 1em; */
  width: 10em;
  height: 14em;
  margin: 1em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;

  /* padding: 100px 50px;
  bottom: 2em; */
}

html,
body {
  margin-top: 2em;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}


#tile-container {

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 10px;

}


#clock {
  position: absolute;
  right: 5%;
  /* font-size: 20px; */
}

.pic-front,
.pic-back {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.messages {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Stylish', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 1000;
  text-shadow: .1em .1em #2C75FF;
  color: #fff;
}




.messages span {
  margin: 1em;
  padding: 1em;
  text-align: left;
  border-style: groove;
  border-color: #0892D0;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: .25em .25em #888888;
  border-radius: .3em;
  top: 0;
}

.messages span, .messages span div, .messages span h4 {
  font-size: 1000;
  text-shadow: .1em .1em #2C75FF;
  color: #fff;

}

.start {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-left: 2em;
}

.creation-team {
  bottom: 1em;
  margin-left: 1.5em;
}
.difficulty {

  align-content: center;
  justify-content: center;
}

.btn {
  background: transparent none;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  line-height: 1em;
  border-radius: .3em;
}

.reset {
  color: #fffb96;
  border-color: #fffb96;
  box-shadow: .25em .25em #666;
}

.reset:hover{
  color: #666;
  background: #fffb96;
}

.easy {
  color: #00ff9f;
  border-color: #00ff9f;
  box-shadow: .25em .25em #888888;
}

.easy:hover {
  color: #fff;
  background: #00ff9f;
}

/* .easy:active {
  background-color: rgba(0, 255, 159, 0.7);
} */

.hard {
  color: #00b8ff;
  border-color: #00b8ff;
  box-shadow: .25em .25em #888888;
}

.hard:hover {
  color: #fff;
  background: #00b8ff;
}

.super {
  color: #bd00ff;
  border-color: #bd00ff;
  box-shadow: .25em .25em #888888;
}
.super:hover {
  color: #fff;
  background: #bd00ff;
}



/* .pic-front {
  transform: rotateY(180deg);
} */
