* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #b87333;
}

.cards {
  border-style: solid;
  border-color: blue;
  /* position: relative;
  width: 22%;
  height: 10em;
  margin: 1em; */
  width: 10em;
  height: 14em;
  margin: 1em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;

  /* padding: 100px 50px;
  bottom: 2em; */
}

body {
  margin-top: 5em;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;

}

#tile-container {

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 10px;

}

.messages {
  text-align: center;
}

#clock {
  position: absolute;
  right: 5%;
  /* font-size: 20px; */
}

.pic-front,
.pic-back {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

/* .pic-front {
  transform: rotateY(180deg);
} */
